* {
  font-family: 'Fira-Sans', sans-serif;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
  font-family: 'Cinzel', serif;
  font-weight: 700;
}

h1{
  font-weight: 900;
}


img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}


.nav{
  padding: 1rem 0;
  display: flex;
  align-items: baseline;
  font-family: 'Cinzel', serif;
  position: fixed;
  top: 0;
}

.nav a {
  margin: 0 1em;
  text-decoration: underline;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1080;
  border-top: 1px dotted #000;
  background-color: #fff;
}

.navbar-toggler {
  color: #000;
}



.not-found{
  text-align: center;
}

.not-found a{
  color: red;
  text-decoration: underline;
  font-family: inherit;
}

.light .event{
  border: 6px solid #000;
}


#releases, #albumCard{
  background-image: url('/lorna-logo-w.png');
  background-size: 66%;
  background-position: center;
  background-attachment: fixed;
}

.custom-card {
  flex: auto;
  padding: 1.5rem;
  /* text-decoration: underline #000; */
  color: #000;
  background-color: #fff;
  border: 1px dashed #000;
}

.custom-card:hover {
  /* text-decoration: underline #fff; */
  background-color: #000;
  border: 1px dashed #fff;
}

.custom-card > * {
  color: #000;
}


.custom-card:hover > * {
  color: #fff;
}

.custom-card:hover .custom-card-img{
  border: 1px dotted white;
}

.album-img {
  border: 1px dotted black;
}

.albumType{
  color: #000;
  font-size: 10px;
  display: inline-block;
  line-height: 14px;
  border: 1px dotted #000;
  width: fit-content;
  padding: 0 0.5rem;
}

.dropdown-toggle, .dropdown-menu, .navbar-toggler {
  background: #000;
  color: #fff;
}

.dropdown-toggle:hover, .dropdown-menu {
  border: 1px dotted #000;
  background: #fff;
  color: #000;
}

.dropdown-menu a{
  color: #000;
}

footer{
  background-color: #fff;
}

.copyright{
  font-size: 10px;
}


@media (min-width: 992px) {
  .navbar {
    border: none;
    position: relative;
    left: 0;
    transform: translateX(0);
    background-color: unset;
  }
  .navbar-collapse.show{
    border: none;
  }

  .navbar-collapse a{
    margin: 0 1rem;
  }

  #releases{
    background-size: 25%;
  }

}



@media (prefers-color-scheme: dark) {
  body, .results {
    color: #fff;
    background-color: #000;
  }

  .navbar-toggler{
    color: #fff;
  }

  .navbar{
    color: #000;
  }

  #releases, #albumCard{
    background-image: url('/lorna-logo.png');
    /* background-size: 25%; */
  }

  .custom-card {
    flex: auto;
    padding: 1.5rem;
    /* text-decoration: underline #fff; */
    color: #fff;
    background-color: #000;
    border: 1px dotted #fff;
  }

  .custom-card:hover {
    /* text-decoration: underline #000; */
    background-color: #fff;
    border: 1px dashed #000;
  }

  .custom-card:hover {
    /* text-decoration: underline #000; */
    background-color: #fff;
    border: 1px dashed #000;
  }

  .custom-card > * {
    color: #fff;
  }

  .custom-card:hover > * {
    color: #000;
  }

  .custom-card:hover .custom-card-img{
    border: 1px dotted black;
  }

  .album-img {
    border: 1px dotted white;
  }




  .albumType{
    color: #fff;
    border: 1px dotted #fff;
  }

  .dropdown-toggle, .dropdown-menu, .navbar-toggler {
    background: #fff;
    color: #000;
  }

  .dropdown-toggle:hover, .dropdown-menu {
    border: 1px dotted #fff;
    background: #000;
    color: #fff;
  }

  .dropdown-menu a{
    color: #fff;
  }

  footer{
    background-color: #000;
  }

}


@media (min-width: 992px) and (prefers-color-scheme: dark) {
  .navbar{
    color: #fff;
  }
}